[user]
	name = Gabe Moothart
	email = gmoothart@gmail.com
[core]
	excludesfile = /Users/gabe/.gitignore
	autocrlf = false
	editor = 'c:/progra~2/Vim/vim72/gvim.exe' %*
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	sdci = svn dcommit
	sup = svn rebase
	sbr = svn branch
	ffm = merge --ff-only
	lg = log --graph --date-order --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
	tfsci = tfs checkintool --build-default-comment
  difp = diff --patience
  oops = commit -a --amend
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[branch]
	autosetupmerge = true
[github]
	user = gmoothart
[merge]
	tool = kdiff3
[gui]
	fontui = -family Consolas -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Consolas -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[mergetool "kdiff3"]
	path = c:/Program Files (x86)/KDiff3/kdiff3.exe
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = c:/Program Files (x86)/KDiff3/kdiff3.exe
