[user]
	name = Gabe Moothart
	email = gmoothart@gmail.com
[core]
	excludesfile = /Users/gabe/.gitignore
	autocrlf = false
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	sdci = svn dcommit
	sup = svn rebase
	sbr = svn branch
  ffm = merge --ff-only
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[branch]
	autosetupmerge = true
[github]
	user = gmoothart
[merge]
	tool = kdiff3
[gui]
	fontui = -family Consolas -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Consolas -size 10 -weight normal -slant roman -underline 0 -overstrike 0
