[user]
  name = Gabe Moothart
  email = gmoothart@gmail.com
[core]
  excludesfile = ~/.gitignore
  autocrlf = false
  editor = vim
  filemode = false
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  sdci = svn dcommit
  sup = svn rebase
  sbr = svn branch
  ffm = merge --ff-only
  lg = log --graph --date-order --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches
  difp = diff --patience
  difin = diff --cached
  oops = commit -a --amend
  unstage = reset HEAD
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[branch]
  autosetupmerge = true
	autosetuprebase = always
[github]
  user = gmoothart
[merge]
  tool = kdiff3
[gui]
  fontui = -family Consolas -size 9 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -family Consolas -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[mergetool "kdiff3"]
  path = kdiff3
[diff]
  guitool = kdiff3
[difftool "kdiff3"]
  path = kdiff3
[giggle]
	main-window-maximized = false
	main-window-geometry = 1135x909+0+24
	history-view-vpane-position = 583
	file-view-vpane-position = 732
	main-window-view = HistoryView
[merge]
	tool = kdiff3
[push]
	default = simple
